html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.full-screen-background {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh; 
    background-color: #CEE3FC;
    position: absolute;
    top: 0;
    left: 0;
}
